<!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Sobre Nós</h2>
            <p>
                A MS é uma empresa que atua no mercado há 3 anos, que iniciou com pequenos serviços de informática no
                centro da cidade de Manaus e que atualmente vem expandindo seu leque de serviços, visando sempre a
                satisfação de seus clientes e a expansão para potenciais clientes. Nós da MS somos comprometidos com a
                excelência e a qualidade na prestação de nossos serviços, prezando sempre pela ética e a transparência
                em
                nosso atendimento.
            </p>
        </div>

        <div class="row missao" id="missao">

            <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class="bx bi-eye "></i></div>
                    <h4 class="title"><a href="">Visão</a></h4>
                    <p class="description">Acreditamos na transformação do mundo em um lugar
                        melhor através da tecnologia.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon"><i class="bx bi-list-task"></i></div>
                    <h4 class="title"><a href="">Missão</a></h4>
                    <p class="description">Identificar necessidades, até então desconhecidas, e
                        propor soluções humanas e eficazes.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon"><i class="bx bi-star"></i></div>
                    <h4 class="title"><a href="">Valores</a></h4>
                    <p class="description">Trabalho em equipe. Inovação de setores.
                        Transformação pelo conhecimento.</p>
                </div>
            </div>

        </div>

    </div>




</section><!-- End About Us Section -->

<!-- ======= Counts Section ======= -->
<section id="counts" class="counts">
    <div class="container">

        <div class="row">
            <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-xl-start"
                data-aos="fade-right" data-aos-delay="150">
                <img src="res/assets/img/counts-img.svg" alt="" class="img-fluid">
            </div>

            <div class="col-xl-7 d-flex align-items-stretch pt-4 pt-xl-0" data-aos="fade-left" data-aos-delay="300">
                <div class="content d-flex flex-column justify-content-center">
                    <div class="row">
                        <div class="col-md-6 d-md-flex align-items-md-stretch">
                            <div class="count-box">
                                <i class="bi bi-emoji-smile"></i>
                                <span data-purecounter-start="0" data-purecounter-end="5" data-purecounter-duration="1"
                                    class="purecounter"></span>
                                <p><strong>Clientes satisfeitos</strong>
                                </p>
                            </div>
                        </div>

                        <div class="col-md-6 d-md-flex align-items-md-stretch">
                            <div class="count-box">
                                <i class="bi bi-journal-richtext"></i>
                                <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1"
                                    class="purecounter"></span>
                                <p><strong>Projetos Entregues</strong> </p>
                            </div>
                        </div>

                        <div class="col-md-6 d-md-flex align-items-md-stretch">
                            <div class="count-box">
                                <i class="bi bi-clock"></i>
                                <span data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="1"
                                    class="purecounter"></span>
                                <p><strong>Anos de experiência</strong> </p>
                            </div>
                        </div>


                    </div>
                </div><!-- End .content-->
            </div>
        </div>

    </div>
</section><!-- End Counts Section -->

<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Serviços</h2>
            <p>Soluções com qualidade e agilidade é um dos objetivos</p>
        </div>

        <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class="bx bxl-c-plus-plus"></i></div>
                    <h4 class="title"><a href="">Desenvolvimento</a></h4>
                    <p class="description">Desenvolvemos aplicativos, sistemas e softwares utilizando as tecnologias e
                        linguagens mais recentes do mercados.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon"><i class="bx bx-line-chart"></i></div>
                    <h4 class="title"><a href="">Consultoria</a></h4>
                    <p class="description">Estamos preparados para apoiar sua empresa com análises e automação de
                        processos e
                        com melhorias para o desenvolvimento de sistemas.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon"><i class="bx bi-gear"></i></div>
                    <h4 class="title"><a href="">Automação de processos (RPA)</a></h4>
                    <p class="description">Fluxos de trabalhos podem alcançar objetivos de forma mais eficiente.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                    <div class="icon"><i class="bx bi-people-fill"></i></div>
                    <h4 class="title"><a href="">Outsourcing</a></h4>
                    <p class="description">Deixe profissionais livres para manter o foco no que realmente importa para
                        sua
                        empresa.</p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Services Section -->

<!-- ======= Features Section ======= -->
<section id="tecnologias" class="tecnologias tecnologias">
    <div class="container">

        <div class="row">

            <div class="section-title" data-aos="fade-up">
                <h2>Tecnologia</h2>
                <p>Nosso time possui um repertório bastante variado de tecnologias dominadas que, quando combinadas,
                    produzem uma mistura explosiva de resultado para o seu projeto.</p>
            </div>

            <div class="col-lg-2 col-md-4 col-6">
                <img src="res/assets/img/tecnologia/android.png" class="img-fluid" alt="" data-aos="zoom-in">
            </div>

            <div class="col-lg-2 col-md-4 col-6">
                <img src="res/assets/img/tecnologia/java.png" class="img-fluid" alt="" data-aos="zoom-in"
                    data-aos-delay="100">
            </div>

            <div class="col-lg-2 col-md-4 col-6">
                <img src="res/assets/img/tecnologia/bootstrap.png" class="img-fluid" alt="" data-aos="zoom-in">
            </div>

            <div class="col-lg-2 col-md-4 col-6">
                <img src="res/assets/img/tecnologia/html5.png" class="img-fluid" alt="" data-aos="zoom-in"
                    data-aos-delay="100">
            </div>

            <div class="col-lg-2 col-md-4 col-6">
                <img src="res/assets/img/tecnologia/css3.png" class="img-fluid" alt="" data-aos="zoom-in">
            </div>

            <div class="col-lg-2 col-md-4 col-6">
                <img src="res/assets/img/tecnologia/java.png" class="img-fluid" alt="" data-aos="zoom-in"
                    data-aos-delay="100">
            </div>

            <div class="col-lg-2 col-md-4 col-6">
                <img src="res/assets/img/tecnologia/laravel.png" class="img-fluid" alt="" data-aos="zoom-in"
                    data-aos-delay="200">
            </div>

            <div class="col-lg-2 col-md-4 col-6">
                <img src="res/assets/img/tecnologia/mysql.png" class="img-fluid" alt="" data-aos="zoom-in"
                    data-aos-delay="300">
            </div>

            <div class="col-lg-2 col-md-4 col-6">
                <img src="res/assets/img/tecnologia/sqlServer.png" class="img-fluid" alt="" data-aos="zoom-in"
                    data-aos-delay="400">
            </div>

            <div class="col-lg-2 col-md-4 col-6">
                <img src="res/assets/img/tecnologia/postgreSQL.png" class="img-fluid" alt="" data-aos="zoom-in"
                    data-aos-delay="500">
            </div>

            <div class="col-lg-2 col-md-4 col-6">
                <img src="res/assets/img/tecnologia/uml.png" class="img-fluid" alt="" data-aos="zoom-in"
                    data-aos-delay="500">
            </div>

            <div class="col-lg-2 col-md-4 col-6">
                <img src="res/assets/img/tecnologia/scrum.png" class="img-fluid" alt="" data-aos="zoom-in"
                    data-aos-delay="500">
            </div>

        </div>

    </div>
</section><!-- End Features Section -->

<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Portfólio</h2>
            <p>Saiba mais sobre nossos projetos e soluções digitais</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">Tudo</li>
                    <li data-filter=".filter-app">Aplicativo Mobile</li>
                    <li data-filter=".filter-card">Desktop</li>
                    <li data-filter=".filter-web">Web</li>
                </ul>
            </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="400">

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="res/assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>App 1</h4>
                        <p>App</p>
                        <div class="portfolio-links">
                            <a href="res/assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery"
                                class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="res/assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Web 3</h4>
                        <p>Web</p>
                        <div class="portfolio-links">
                            <a href="res/assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery"
                                class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="res/assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>App 2</h4>
                        <p>App</p>
                        <div class="portfolio-links">
                            <a href="res/assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery"
                                class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                    <img src="res/assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Card 2</h4>
                        <p>Card</p>
                        <div class="portfolio-links">
                            <a href="res/assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery"
                                class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="res/assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Web 2</h4>
                        <p>Web</p>
                        <div class="portfolio-links">
                            <a href="res/assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery"
                                class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="res/assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>App 3</h4>
                        <p>App</p>
                        <div class="portfolio-links">
                            <a href="res/assets/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery"
                                class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                    <img src="res/assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Card 1</h4>
                        <p>Card</p>
                        <div class="portfolio-links">
                            <a href="res/assets/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery"
                                class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                    <img src="res/assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Card 3</h4>
                        <p>Card</p>
                        <div class="portfolio-links">
                            <a href="res/assets/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery"
                                class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="res/assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Web 3</h4>
                        <p>Web</p>
                        <div class="portfolio-links">
                            <a href="res/assets/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery"
                                class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Portfolio Section -->

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Contate-Nos</h2>
        </div>

        <div class="row">

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="contact-about">
                    <!-- <h3>MS-SOLUÇÕES EM TECNOLOGIA</h3> -->
                    <p>Pronto para começar seu próximo projeto conosco? Ligue para nós ou envie um e-mail e entraremos
                        em
                        contato com você o mais breve possível!</p>
                    <div class="social-links">
                        <a href="#" class="twitter"><i class="bi bi-github"></i></a>
                        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="bi bi-whatsapp"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
                <div class="info">
                    <div>
                        <i class="ri-map-pin-line"></i>
                        <p>Endereço:<br>RUA MANTIQUEIRA, Nº 208 REDENÇÃO | MANAUS - AM  CEP:69.047-760</p>
                    </div>

                    <div>
                        <i class="ri-mail-send-line"></i>
                        <p>contato@mstecnologia.dev.br</p>
                    </div>

                    <div>
                        <i class="ri-phone-line"></i>
                        <p>+55 (92) 9 8841-1136</p>
                    </div>

                </div>
            </div>

            <div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-delay="300">
                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" id="name" placeholder="Seu Nome" required>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Seu Email"
                            required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="titulo" id="titulo" placeholder="Titulo" required>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="message" rows="5" placeholder="Mensagem"
                            required></textarea>
                    </div>
                    <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-center"><button type="submit">Enviar mensagem</button></div>
                </form>
            </div>

        </div>

    </div>
</section><!-- End Contact Section -->

</main><!-- End #main -->